body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.not-found {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.not-found h1 {
    font-size: 8em;
    margin: 0;
    color: #e94e77;
}

.not-found p {
    font-size: 1.5em;
    margin-top: 20px;
    color: #666;
}

.not-found a {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    background-color: #e94e77;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.not-found a:hover {
    background-color: #d43f65;
}
