<nz-card nzTitle="Login" [nzBordered]="false" style="width: 300px;">
    <form nz-form [formGroup]="form">
        <nz-form-item>
            <nz-form-control nzErrorTip="Please enter your username!" nzHasFeedback>
                <nz-input-group>
                    <input nz-input placeholder="Username" formControlName="username">
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please enter your password!" nzHasFeedback>
                <nz-input-group [nzSuffix]="suffixTemplate">
                    <input
                            [type]="passwordVisible ? 'text' : 'password'"
                            nz-input
                            placeholder="input password"
                            formControlName="password"
                    />
                </nz-input-group>
                <ng-template #suffixTemplate>
                    <span
                            nz-icon
                            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                            (click)="passwordVisible = !passwordVisible">
                    </span>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <button nz-button nzType="primary" (click)="login()" [nzLoading]="processing">Login</button>
        </nz-form-item>
    </form>
</nz-card>
